html, body {
    margin: 0;
    padding: 0;
}

:root {
    --primary: #6B2AEE;
    --secondary: #02E7D9;
    --light-grey: #E5E5E5;
    --dark-grey: #707070;
     font-family: "Poppins", sans-serif;
}